h1, a {
    color: #003366;
}

h2 {
    color: #004c99;
}

h3 {
    color: #0066cc;
    margin-bottom: 0 !important;
}

h4 {
    color: #007fff;
}

h5 {
    color: #3399ff;
}

h6 {
    color: #66b2ff;
    margin-top: 0 !important;
}