h1 {
    color: #003366;
}

h2 {
    color: #004c99;
    border-left: 5px solid #004c99
}

h3, a {
    color: #0066cc;
    margin-bottom: 0 !important;
}

h4 {
    color: #007fff;
}

h5 {
    color: #3399ff;
}

h6, em {
    color: #66b2ff;
    margin-top: 5px !important;
}

a {
    text-decoration: underline;
}